body {
    background: #E3E6E3;
    font-family: helvetica, "Segoe UI", Arial, sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

#container {
    width: 63%;
    margin: auto;
    height: 1000px;
    margin-top: 100px;
    background-color: #fff;
}

#navbar {
    background-color: #009270;
    width: 100%;
    padding: 8px 0px 6px 0px;
}

img {
    width: 101px;
    height: 40px;
    aspect-ratio: auto 101 / 40;
    bottom: 4px;
    position: relative;
    vertical-align: middle;
    margin-left: 15px;
}

#navbar>a {
    text-decoration: none;
    cursor: pointer;
    margin: 6px;
    color: #fff;
}

button {
    padding: 8px 14px;
    background: #fff;
    border-radius: 18px;
    border: 0;
}

button>a {
    text-decoration: none;
    font-family: helvetica, "Segoe UI", Arial, sans-serif;
    font-size: 16px;
}

#navbar2 {
    width: 100%;
    background-color: #444;
    padding: 8px 0px 6px 0px;

}

#navbar2>a {
    color: #fff;
    font-family: helvetica, "Segoe UI", Arial, sans-serif;
    text-decoration: none;
    margin: 5PX;
    
}

.sp1 {
    margin-left: 50px;
}

.h2 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 18px;
    color: #009270;
}

#navbar3 {
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(4, 300px 215px 190px 240px);
    background-color: #fff;
    position: relative;

}
#navbar3>div{
    border:1px solid gray;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-style: double;
   
}

.b1 {
    font-size: 16px;

}

.sp2 {
    margin-left: 30px;
}

p {
    margin-left: 20px;
}

#red {
    color: rgb(255, 0, 0);
}

#blue {
    color: rgb(0, 0, 255);
}

#b2 {
    font-size: 16px;
}

#b3 {
    font-size: 16px;
}

#to {
    color: rgb(187, 97, 97);
}

#b4 {
    font-size: 16px;
}
hr{
    border: 2px solid rgb(221, 212, 212);
}
#login >img{
    float: right;
    width: 40px;
    aspect-ratio: auto 101 / 40;
    position: relative;
    vertical-align: middle;
    margin-bottom: 70px;
    margin-top: 4px;
    margin-right: 15px;
}


#n1{
    position: absolute;
    top: 35%;
    background-color:#009270;
    border-radius: 100%;
    border: none;
    font-size: 1.5rem;
    color: rgb(255, 252, 252);
    margin-left: 95%;
}
#navbar>a:hover{
color: aquamarine;
}
#navbar2>a:hover{
color: rgb(77, 241, 186);
}
#navbar3>a:hover{
color: rgb(4, 179, 120);
}
