nav{
    width: 70%;
    margin: auto;
}

body {
    background: #E3E6E3;
    font-family: helvetica, "Segoe UI", Arial, sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    margin-top: 3%;
}


#container{
    width: 63%;
    margin: auto;

    background-color: #fff;

}

#navbar {
    background-color: #009270;
    width: 100%;
    padding: 8px 0px 6px 0px;
}

.logo{
    width: 101px;
    height: 40px;
    aspect-ratio: auto 101 / 40;
    bottom: 4px;
    position: relative;
    vertical-align: middle;
    margin-left: 15px;
}

#navbar>a {
    text-decoration: none;
    cursor: pointer;
    margin: 6px;
    color: #fff;
}

button {
    padding: 8px 14px;
    background: #fff;
    border-radius: 18px;
    border: 0;
}

button>a {
    text-decoration: none;
    font-family: helvetica, "Segoe UI", Arial, sans-serif;
    font-size: 16px;
}

#navbar2 {
    width: 100%;
    background-color: #444;
    padding: 8px 0px 6px 0px;

}

#navbar2>a {
    color: #fff;
    font-family: helvetica, "Segoe UI", Arial, sans-serif;
    text-decoration: none;
    margin: 5PX;
}

#image >img{
    float: right;
    width: 40px;
    aspect-ratio: auto 101 / 40;
    position: relative;
    vertical-align: middle;
    margin-bottom: 70px;
    margin-top: 4px;
    margin-right: 15px;
}
#navbar>a:hover{
    color: aquamarine;
    }
    #navbar2>a:hover{
    color: rgb(77, 241, 186);
    }
    #navbar3>a:hover{
    color: rgb(4, 179, 120);
    }
    

#Container {
    width: 70%;
    height: auto;
    display: flex;
    background-color: #fff;
    margin-top: 5px;
    margin-left: 15%;

}

#Container>div {
    width: 100%;
    display: flex;
 
    margin-top: 60px;
 

}

#Container>div>.my {
    margin-left: 6%;
    
    text-transform: uppercase;
    font-size: 14px;
}

#cont1 {
    width: 70%;
    height: 500px;
    background-color: #fff;
    display: flex;
    margin-left: 15%;
    margin-top: 2px;
}

#cont1>#profile {
    width: 35%;
    height: 357px;
    border: 1px solid #ddd ;
    margin-top: 40px;
    margin-left: 60px;

}

#single-chip {
    width: 100%;
    border-bottom: 1px solid #ddd ;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon>svg {
    padding-top: 6px;
}

.svg2>svg {
    margin-right: 18px;
    padding-top: 6px;
}

.svg3>svg {
    margin-right: 15px;
    padding-top: 6px;
}

.svg4>svg {
    margin-right: 7px;
    padding-top: 6px;
}

.svg5>svg {
    padding-top: 6px;
    margin-right: 12px;
}

.svg6>svg {
    padding-top: 6px;
    margin-right: 5px;
}

.svg7>svg {
    padding-top: 6px;
    margin-right: 3px;
}

#inp {
    width: 42%;
    height: 400px;
    margin-left: 8%;
    margin-top: 40px;
}

#inp>div>img {
   
    margin-left: 43%;
    border-radius: 100%;
    border: 2px solid #333;
    
}

input{
    width: 80%;
    padding: 8px 20px;
    margin: 8px;
    margin-left: 20px;
    border: 1px solid #ddd ;
}

label{
    margin-left: 20px;
    
}

.subBtn{
    width: 25%;
    font-size: 15px;
    margin-left: 37%;
    background-color: #009270;
    border: 0px;
    color: #fff;
}

.subBtn:hover{
    background-color: aquamarine;
    color: black;
}

#single-chip:nth-child(1){
    background-color: #009270;
    color:#fff;
}


/* footer part */



#container4 {
    margin: auto;
    width: 70%;
    background-color: #4a4a4a;
    height: auto;
    padding-bottom: 15px;
    margin-top: 40px;
}

#container4>.top {
    padding-left: 3%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    height: 300px;
    margin: auto;
    padding-top: 40px;
}
.top>div {
    width: 90%;
    height: 80px;
    margin-top: 3%;
}

#container4>.top>div>h1 {
    font-size: 18px;
    font-family: helvetica,"Segoe UI",Arial,sans-serif;
    color: #ffffff;
    font-weight: 800;
    Line-height: 3px;
    text-decoration: none;
}
#container4>.top>div>p>a {
    font-size: 16px;
    color: #ffffff;
    font-family: helvetica,"Segoe UI",Arial,sans-serif;
    text-decoration: none;

}

#container4>.top>div>p {
    Font-size: 18px;
    Font-weight: 550;
    width: 80%;

}

#container4>#spen {
    text-align: center;
    color: #ffffffc4;
    Font-size: 15px;
    font-family: helvetica,"Segoe UI",Arial,sans-serif;
}

#ok>a {
    color: #ffffffc4;
}

@media all and (max-width:720px) {
 #container4 {
  grid-template-columns: repeat(2, 1fr);
    }
}
@media all and (min-width:720px) and (max-width:1000px) {
    #container4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

#a3>p{
    color: #fff;
    
}


#a2>p{
    color: #fff;
}

#a2>p>svg{
    padding-right: 10px;
}

#a3>p>svg{
    padding-right: 10px;
}


button+svg{
    color: #fff;
    margin-left: 13px;
}


